body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    background-color:#333;
    color:aliceblue;
    display: inline-block;




    

}


